<div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Sign Up</h5>
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: "form-signin") do |f| %>
              <%= render "devise/shared/error_messages", resource: resource %>

            <div class="field form-label-group">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Email address", required: true %>
              <%= f.label :email %><br />
            </div>

            <div class="field form-label-group">
              <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "Password", required: true %>
              <%= f.label :password %>
              <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
            </div>

            <div class="field form-label-group">
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "Password", required: true %>
              <%= f.label :password_confirmation %><br />
            </div>

            <div class="actions">
              <%= f.submit "Sign up", :class => "btn btn-lg btn-primary btn-block text-uppercase" %>
            </div>
            <%= render "devise/shared/links" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
