<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form_group">
    <%= form.label :title, for: :task_title %>
    <%= form.text_field :title, id: :task_title, class: "form-control" %>
  </div>

  <div class="field form_group">
    <%= form.label :description, for: :task_description %>
    <%= form.text_area :description, id: :task_description, class: "form-control" %>
  </div>

  <div class="field form_group">
    <%= form.label :due_date, for: :task_due_date %>
    <%= form.date_select :due_date, id: :task_due_date, :class => "form-control" %>
  </div>

  <div class="field form_group">
    <%= form.label :status, for: :status %>
    <%= form.number_field :status, id: :task_status, :class => "form-control" %>
  </div>

  <br>

  <div class="actions form_group">
    <%= form.submit "Submit", :class => "btn btn-primary"%>
  </div>
<% end %>
