<div class="page-header">
  <h1>Editing Task</h1>
</div>

<%= render 'form', task: @task %>

<%= link_to 'Show', @task, class: "btn btn-primary", role: "button" %> |
<%= link_to 'Back', tasks_path, class: "btn btn-info", role: "button" %>
