<p id="notice"><%= notice %></p>
<!-- Page Content -->
<div class="container">

  <div class="page-header">
    <h1 class="my-4">Tasks</h1>
  </div>

  <div class="row">
    <% @tasks.each do |task| %>
      <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h4 class="card-title">
              <a href="#"><%= task.title %></a>
            </h4>
            <p class="card-text"><%= task.description %></p>
            <p class="card-text"><small>Due date: </small><%= task.due_date %></p>
            <p class="card-text"><small>Status: </small><%= task.status %></p>
            <%= link_to 'Show', task,  class: "btn btn-primary", role: "button" %> 
            <%= link_to 'Edit', edit_task_path(task),  class: "btn btn-info", role: "button" %>
            <%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' },  class: "btn btn-danger", role: "button" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<br>

<%= link_to 'New Task', new_task_path, class: "btn btn-info", role: "button" %>
