<p id="notice"><%= notice %></p>
<div class="col-lg-3 col-md-4 col-sm-6 mb-4">
  <div class="card h-100">
    <div class="card-body">
      <h4 class="card-title">
        <strong>Title:</strong>
        <%= @task.title %>
      </h4>
      <p class="card-text">
        <strong>Description:</strong>
        <%= @task.description %>
      </p class="card-text">

      <p class="card-text">
        <strong>Due date:</strong>
        <%= @task.due_date %>
      </p>

      <p class="card-text">
        <strong>Status:</strong>
        <%= @task.status %>
      </p>
      <%= link_to 'Edit', edit_task_path(@task), class: "btn btn-primary", role: "button"  %> |
      <%= link_to 'Back', tasks_path, class: "btn btn-info", role: "button"  %>
    </div>
  </div>
</div>




