<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form_group">
    <%= form.label :title, for: :title %>
    <%= form.text_field :title, id: :project_title, class: "form-control" %>
  </div>

  <div class="field form_group">
    <%= form.label :description, for: :description %>
    <%= form.text_area :description, id: :project_description, class: "form-control" %>
  </div>

  <br>

  <div class="actions">
    <%= form.submit "Submit", :class => "btn btn-primary" %>
  </div>
<% end %>
