<div class="page-header">
  <h1>Editing Project</h1>
</div>
<%= render 'form', project: @project %>

<%= link_to 'Show', @project, class: "btn btn-primary", role: "button" %> |
<%= link_to 'Back', projects_path, class: "btn btn-info", role: "button" %>
