<p id="notice"><%= notice %></p>
<div class="container">
  <div class="page-header">
    <h1 class="my-4">Projects</h1>
  </div>
  
  <% @projects.each do |project| %>    
    <!-- Row -->
      <div class="row">
        <div class="col-md-7">
          <a href="#">
          <%= image_tag(Prototipo.getImage(project.id), class:"img-fluid rounded mb-3 mb-md-0", size: 400)%>
          </a>
        </div>
        <div class="col-md-5">
          <h3><%= project.title %></h3>
          <p><%= project.description %></p>
          <p><small>Users: </small>

          <% project.user.each do |u| %>
            <%= u.email %>
            <% end %>


          <%= link_to 'Show', project,  class: "btn btn-primary", role: "button" %>
          <%= link_to 'Edit', edit_project_path(project),  class: "btn btn-info", role: "button" %>
          <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' },  class: "btn btn-danger", role: "button" %>
        </div>
      </div>
      <!-- /.row -->

      <hr>
  <% end %>
  </div>

  <br>

  <%= link_to 'New Project', new_project_path,  class: "btn btn-primary", role: "button" %>
</div>
