<p id="notice"><%= notice %></p>
<div class="row">
<div class="col-lg-12 col-md-12 col-sm-12 mb-12">
  <div class="card h-100">
    <div class="card-body">
      <h1 class="card-title">
        <strong>Title:</strong>
        <%= @project.title %>
      </h1>
      <p class="card-text">
        <strong>Description:</strong>
        <%= @project.description %>
      </p>
    </div>
    <div class="card-body">
      <h2 class="card-title">Users</h2>
      <ul>
        <% @project.user.each do |user|%>
          <li>
            <p class="card-text"><%=user.email%></p>
          </li>
        <%end%>
      </ul>
    </div>
  </div>
</div>
</div>
<br>
<h2 class="card-title">Tasks</h2>
<div class="row">
  <% @project.tasks.each do |task|%>
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <h3 class="card-title">
            <strong>Title:</strong>
            <%=task.title%>
          </h3>
          <p class="card-text">
            <strong>Description:</strong>
            <%= task.description %>
          </p>
          <p class="card-text">
            <strong>Due date:</strong>
            <%= task.due_date %>
          </p>
          <%= link_to 'Edit', edit_task_path(task), class: "btn btn-primary", role: "button"  %>
          <%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' },  class: "btn btn-danger", role: "button" %> 
        </div>
      </div>
    </div>
  <%end%>
</div>
<p>
  <%= render './tasks/form', project: @project, task: @task %>
</p>



<%= link_to 'Edit', edit_project_path(@project), class: "btn btn-info", role: "button" %> |
<%= link_to 'Back', projects_path, class: "btn btn-secondary", role: "button" %>
