<div class="container-fluid">
  <div class="row no-gutter">
    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
      <div class="col-md-8 col-lg-6">
        <div class="login align-items-center py-5">    
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto">
              <h3 class="login-heading mb-4">Welcome back!</h3>
              <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <div class="field form-label-group">
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Email address", required: true %>
                  <%= f.label :email %><br />
                </div>

                <div class="field form-label-group">
                  <%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: "Pasword", required: true %>  
                  <%= f.label :password %><br />
                </div>

                <% if devise_mapping.rememberable? %>
                  <div class="field custom-control custom-checkbox mb-3">
                    <%= f.check_box :remember_me, id:"customCheck", class: "custom-control-input" %>
                    <%= f.label :remember_me, for: "customCheck",class:"custom-control-label" %>
                  </div>
                <% end %>

                <div class="actions field">
                  <%= f.submit "Log in", :class => "btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" %>
                </div>
              <% end %>
            </div>
          </div>
          <br>
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>

