<%# navigation styled for Bootstrap 3.0 %>
<nav class="navbar navbar-expand navbar-inverse navbar-fixed-top">
  <%= link_to 'Home', root_path, class: 'navbar-brand' %>
  <div class="collapse navbar-collapse" id="navbarNav">
  <div class="collapse navbar-collapse" id="navbarNav">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <%= render 'layouts/navigation_links' %>
      <% if user_signed_in? %>
        <li class="col-xs nav-item">
          <%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete, class: "nav-link"%>
        </li>
      <%else%>
        <li class="col-xs nav-item">
          <%= link_to "Iniciar sesión", new_user_session_path, class: "nav-link"%>
        </li>
        <li class="col-xs nav-item">
          <%= link_to "Registro", new_user_registration_path, class: "nav-link"%>
        </li>
      <%end%>
    </ul>
  </div>
</nav>
