<%# add navigation links to this file %>
<li class="nav-item">
  <%= link_to 'Projects', projects_path, class: "nav-link" %>
</li>
<li class="nav-item">
  <%= link_to 'Tasks', tasks_path, class: "nav-link" %>
</li>